.wrapper {
    background: #DDD;
    display: inline-block;
    padding: 10px;
    height: 20px;
    width: auto;
}

.label {
    display: inline-block;
    width: 1em;
}

.contents,
.contents .inner {
    display: inline-block;
}

.contents {
    white-space: nowrap;
    margin-left: -1em;
    padding-left: 1em;
}

.contents .inner {
    background: #c3c;
    width: 0%;
    overflow: hidden;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.wrapper:hover .contents .inner {
    width: 100%;
}

.floatnavbar {
    padding-left: 25px;
    padding-right: 25px;
}

.navbar-glass {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom right, #ff295f, #fc03b1, #4a03fc);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: 3s ease-in;
    -moz-transition: 3s ease-in;
    -o-transition: 3s ease-in;
    transition: 3s ease-in;
    animation-name: navbar-glass;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes navbar-glass {
    from {
        /* transform: translate(0px, -250px); */
        transform: width 2s, height 4s;
    }
    to {
        transform: translate(0px, 0px);
    }
}